// Bulma
@import "bulma";

@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;

  height: 100%;
}

.show-grid {
  padding-top: 10px;
  padding-bottom: 10px;

  border: 1px solid rgba(0,0,0,.5);
  border-width: 1px 1px 1px 0;

  left: 1em;
  overflow-y: scroll;
}

.menu-center {
  margin-left: .5em;
}

.hold-on-bottom {
  position: fixed;
  width: 15%;
  bottom: 1em;
}

#app {
  height: 105%;
}